* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "source sans pro";
}

.topo {
  width: 100%;
}

.tamanho-maximo-container {
  width: 1024px;
  margin: 0 auto;
}

.topo .container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.link-logotipo {
  font-weight: bold;
  color: rgb(156, 163, 156);
}
.link-logotipo span {
  color: rgb(122, 159, 196);
}
.topo a {
  text-decoration: none;
  font-size: 15px;
  margin-left: 30px;
  text-transform: uppercase;
  color: rgb(156, 163, 156);
}
.topo a:first-of-type {
  margin-left: 0px;
}

/* !BANNER */

.titulo-site {
  background-image: url("../assets/img-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-site-descricao {
  color: #fff;
  font-size: 28px;
  background-color: #0a9077b3;
  border: 1px solid;
  padding: 0 20px;
  border-radius: 4px;
  text-align: center;
}

.secao-container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.secao-container p:first-of-type {
  margin: 20px 0;
}
.quartos {
  display: flex;
  justify-content: space-between;
}

.quarto {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.quarto a {
  margin-top: 30px;
  height: 40px;
  border-bottom: 3px solid ;
  color: rgb(65, 119, 111);
  text-decoration: none;
  text-transform: uppercase;
}
.quarto img {
  width: calc((1024px/3) - 10px);
  height: 200px;
}
.descricoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.descricao {
  display: flex;
  width: calc((100%/2) - 60px ) ;
  justify-content: space-between;
  margin: 30px;
}
.descricao .descricao-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.descricao-img {
  height: 100px;
  width: 90px;
  align-self: self-end;
}

/* !FOOTER */

.rodape {
  background-color: rgb(73, 153, 124);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid;
}
.rodape img {
 width: 40px;
 height: 40px;
  
}
.rodape-container{
  display: flex;
  justify-content: space-between;
}
.rodape-info {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}
hr{
  width: 83%;
  opacity: 0.4;
  border: 1px solid black;
}
